@import 'utilities.css';
body{
    font-family: sans-serif;
    margin: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: white;
}

html{
    scroll-behavior: smooth;
}

#main-nav {
   position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height:1.5vh;
    z-index: 100;
    background: rgb(51, 42, 183);
}

.branding{
   margin-left: 3rem;
}

.branding img{
    border: 2px solid black;
    border-radius: 50%;  
}

header{
    background-color: black;
    height:43.35rem;
   width: 100%;
   clip-path: polygon(
        0 0,
        100% 0,
        100% 100%,
        67% 90%,
        0 100%
    ); 
    z-index: 50;
    margin: 0;
    padding: 0;
}

 nav .left a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  font-family:sans-serif;
   font-weight: 600;
  margin-left: 3rem;
  margin-right: 0.5rem;
  padding-right: 0rem;
  text-transform: uppercase;
   transition: all 0.3s ease;
}

nav .left a:hover {
  color: aqua;
  text-decoration:bolder;
  transform: scale(1.1);
}

 .right .btn{
    margin-left: 12rem;
     margin-right: 3rem;
    color:black;
    background-color:white;
    border-color:black;
    transition: all.3s ease;
    border-radius: 10px;
    text-decoration: none;  
}

.right .btn:hover{
    background:black;
    color:white;
    border-color:white;
}

.container{
    max-width: 1152px;
    padding:0 15px;
    margin: 0 auto;
}

header nav{
    display: flex;
    align-items: center;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: 600;
    margin-right: 2rem;
    text-transform: uppercase;
    transition: all 0.3s ease;
}

.nav-links a:hover {
    color: aqua;
    text-decoration: underline;
    transform: scale(1.1);

}

 nav {
    padding: 2rem 0;
}

 nav .branding{
    margin-right: 3rem;
}

.hero{
   padding-top:0rem;
    padding-bottom: 1.7rem;
    height: 100vh;
}

.hero .right{
    color: white;  
}

.hero .right h6{
    font-size: 1.8rem;
    color: aqua;
    margin-bottom: 0rem;
    margin-top: 6rem;  
}

.hero .right h1{
    font-size: 4rem;
    font-weight: 100;
}

.hero .right h1 span{
    color: aqua;
}

.hero .right p{
    margin-bottom: 2rem;
    text-decoration: none;
    font-size: 1.3rem;
}

.hero .right a{
    text-decoration: none;
}

.hero .left img{
    width: 500px;
    height: 500px;
    border-radius: 50%;
    object-fit: cover;
     border: 2px solid aqua;
     box-shadow: 0 0 10px white;
    margin-top: -5rem;
    padding: 0;
    margin-left: 6.5rem;
   
}

.hero .left img:hover{
    box-shadow: 0 0 15px red;  
      transform: scale(1.01);
    transition: all.3s ease;
}

.hero .left{
    text-align: center;
    padding-right: 8rem;
    padding-top:9.2rem;  
}

.about-me-img{
    width: 450px;
    height: 565px;
    border-radius: 18%;
    object-fit: cover;
     border: 2px solid aqua;
     box-shadow: 0 0 10px white;
    margin-top:3rem;
    margin-left:0;
    padding: 0;  
}

.about-me-img:hover{
      box-shadow: 0 0 15px black;
      transform: scale(1.01);
    transition: all.3s ease;
}

.about{
    padding-top:60px;
    padding-left:0rem;
    padding-bottom: 1.7rem;
   background-color: rgba(68, 67, 67, 0.79);  
}



form{
    margin-top: 30px;  
}


section{
    padding: 6rem 0;
    background-color: cadetblue;
    color: black;  
}

.about h1{
    color: aqua;
    margin-bottom: 3rem;
    font-size: 2rem;
    font-weight: 700;  
}

.about h3{
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color: white;
    font-weight: 600; 
}

.about p{
    font-family: sans-serif;
    font-size: 1.2rem;
    color: blanchedalmond;
    line-height: 1.9;
}

.section-heading{
     color: aqua;
    text-align: center;
    margin-bottom: 1rem;
    margin-top: -3rem;
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 0.5;
    font-family: 'Gill Sans';  
 }

.section-heading +p{
    color:rgb(236, 236, 233);
    font-family: sans-serif;
    margin-bottom: 1rem;
    margin-top: 1.5rem;
    line-height: 80px;
    font-size: 1.4rem;
    text-align: center;
}

.services{
    background-color: rgb(68, 67, 67);
     padding-top:140px;
}

section  .card-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 2rem;
    grid-row-gap: 6rem;
    margin-left: 0rem;
}

section .card-wrapper img{
    border-radius: 1rem;
    box-shadow: 0 0 10px white; 
}


.card{
   background-color: aqua;
    padding: 3rem 2rem;
    position: relative;
    text-align: center;
    border-radius: 2rem;
    box-shadow: 0 0 10px white;
}

.card h2{
    font-weight: 400;
    font-size: 1.2rem;
    margin-top: 2rem;
}

.card p{
    font-family: sans-serif;
    color: rgb(63, 63, 63);
    line-height: 30px;
    margin-top: 1rem;
}

.card:hover {
    background: black;
    transform: scale(1.05);
    transition: all.3s ease;
    font-weight: 500;
}

.card:hover p,.card:hover h1 {
    color: white;
}  

.card:hover a {
    color: aqua;
}

.freelancer{
    height: 7rem;
    text-align: center;
    background-color:black;
    color: white;
    clip-path: polygon(
        0 0,
        100% 0%,
        100% 100%,
        67% 80%,
        0 100%
    );
    padding-bottom: 10rem;
    padding-top: 7rem;
 }

.freelancer h1{
    font-size:3rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: -1rem;
    margin-left: -1rem;
    margin-bottom: 0.5rem;
}

.freelancer p{
    font-size:1.2rem;
    margin-bottom: 2rem;
    font-family: sans-serif;
}

.freelancer .btn{
    background-color: aqua;
    color: black;
    border-radius: 10px;
    border-color: #070606;
    transition: all.3s ease;
    margin-top: 1rem;
    margin-left: -0.5rem;
}

.freelancer .btn:hover{
    background-color:white;
    color:black;
    border-radius: 2rem;
    border-color:black;
    box-shadow:0px 0px 10px 0px black;
}

.blog{
    background-color: rgb(68, 67, 67);
    padding-top:135px;
    clip-path: polygon(
        0 0,
        100% 0%,
        100% 100%,
        67% 93%,
        0 100%
    );
    padding-bottom: 10rem;
}

.img-wrapper{
    margin-bottom: 7.2rem;
}

.img-wrapper img{
    height: 100px;
    width: 150px;
    border-radius: 20px;
    box-shadow: 0 0 10px white;
    margin-top: 0rem;
    padding: 0rem;
}

.card-content h1{
    font-size: 1.3rem;
    font-weight: 600;
    margin-top: -6rem;
    border-radius: 10px;
}

.card-content a{
color: rgb(72, 72, 70);
text-decoration: none;
}

.card-content p{
    font-family: sans-serif;
    color: rgb(63, 63, 63);
    margin-top: 1rem;
    line-height: 20px;
}

.contact{
    padding-top: 8.5rem;
    padding-bottom: 6rem;
}

#contact{
 background-color: rgb(184, 254, 231);
}

.contact h1{
     font-size: 2rem;
    font-weight: 600;
    text-align: center;
   color:black;
   padding-top: 0rem;
}

.contact p{
    color:rgba(0, 0, 0, 0.622);
    font-family: sans-serif;
    font-size: 1.2rem;
    text-align: center;  
}

.contact h2{
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 3rem;
    color:black; 
}

.Card{
   background-color: rgb(184, 254, 231);
    padding: 1rem 2rem;
    position: relative;
    text-align: center;
    transition: all.3s ease;
    margin-left: 12rem;
    height: 12rem;
    width: 11rem;
    border-radius:20%;
    box-shadow: 0px 0px 10px 5px rgb(37, 39, 39);
}

.Card:hover{
   background-color: rgb(71, 250, 190);
   transform: scale(1.1);
}

.card-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 2rem;
    grid-row-gap: 6rem;
    justify-content: center;
}

.Card img{
    margin-bottom: 0rem; 
}

.Card h1{
   margin-bottom: -1rem;
   font-weight: 600;
   font-size: 1.3rem;
}

.Card h5{
    font-size: 1rem;
    color:black;
    font-weight: 600;
    margin-top: 1.5rem; 
}

#email{
    margin-left: -0.9rem;
}

.Card img{
    position: relative;
    width: 100px;
    height: 100px;  
}

.contact{
    background-color:azure
}

.input-wrap{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 2rem;
    margin-bottom: 2rem;
}

.input-wrap-2{
    display: flex;
    flex-direction: column;
}

.input-wrap-2 input{
    margin-bottom: 2rem;
    border: 1px solid white;
    font-size: 0.9rem;
}

.contact input{
    padding: 0.5rem;
    border: 1px solid white;
    font-size: 0.9rem;
}

.input-wrap-2 textarea{
    padding: 0.5rem;
    border: 1px solid white;
    font-size: 0.9rem;
}

.contact input:focus{
    outline: none;
}

.input-wrap-2 textarea:focus{
    outline: none;
}

.btn-wrapper{
    text-align: center;
    margin-top:2rem;
    margin-bottom:-4rem; 
}

.contact .btn-primary{
    border-radius: 10px;
}

.btn-wrapper :hover{
    background: black;
    color: white;
}

footer{
    height: 1vh;
    background-color: #070606;
    text-align: center;
    padding:4rem; 
}

footer h4{
      color: white;
      margin-left: -1rem;
      margin-top: 0.9rem;
}

footer p{
    color: rgb(177, 172, 164);
    font-size: 0.9rem;
    margin-top: -1.1rem;
    margin-left: -1rem;
}

.footer-social{
    margin-top: -3.5rem;
    display: flex;           
    gap: 1rem;             
    justify-content: center; 
    align-items: center;        
}

.footer-social a{
  margin-right: 1rem;
  margin-top: 0.5rem;
}

.footer-social a:hover img{
    box-shadow: 0 0 10px white;
   border-radius: 50%;
    box-sizing: content-box;
    box-sizing: border-box;
    transform: scale(1.1);
}